.nav .nav-top {
  padding: 0 50px;
  margin-bottom: 0;
}

.nav .nav-top .welcome {
  font-size: 14px;
  padding-right: 50px;
}

.nav .nav-top .search {
  position: relative;
}

.nav .nav-top .search i {
  position: absolute;
  font-size: 20px;
  top: 8px;
  right: 8px;
}
